<img src="pandas2.jpeg" width="400" height="400" align="center"/>

#### Data structures in pandas
 
There are three main data structures in pandas:

* Series
* DataFrame
* Panel
 
The DataFrame represents the entire spreadsheet, whereas the Series is a single column of the DataFrame. 

A Pandas DataFrame can also be thought of as a dictionary or collection of Series objects.

The data sets are first read into these dataframes and then various operations (e.g. group by, aggregation etc.) can be applied very easily to its columns. Row label indexes and column labels can be specified along with the data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Set some pandas options fro controlling output

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

## The Pandas DataFrame Object

#### DataFrame
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

##### Features of DataFrame
- Potentially columns are of different types
- Size – Mutable
- Labeled axes (rows and columns)


pandas.DataFrame(data, index, dtype, copy)

#### Create DataFrame
A pandas DataFrame can be created using various inputs like −

- Lists
- dict
- Series
- Numpy ndarrays
- Another DataFrame

In [ ]:
# Create an Empty dataFrame
df = pd.DataFrame()
print(df)

In [ ]:
# Create a DataFrame from a single list 
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

In [ ]:
# list of lists
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

In [ ]:
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

# NOTE: Observe, the dtype parameter changes the type of Age column to floating point.

In [ ]:
# Create a DataFrame from Dict 

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

# NOTE: Observe the values 0,1,2,3. They are the default index assigned 
#to each using the function range(n).

In [ ]:
# Let us create an indexed DataFrame 

data = {'Name':['Harry', 'John', 'Steve', 'Ron'],'Age':[38,34,39,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

print(df)
print('\n')
print(df.index)

# NOTE: Observe, the index parameter assigns an index to each row.

In [ ]:
# Create a DataFrame from List of Dicts
data = [{'x': 1, 'y': 2},{'x': 5, 'y': 10, 'z': 20}]
df = pd.DataFrame(data)
print(df)

# NOTE: Observe, NaN (Not a Number) is appended in missing areas.

In [ ]:
# DataFrame with row indices and column indices
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
print(df1)

In [ ]:
'''The order is not guaranteed because Python dictionaries are not ordered. 
If we want an #ordered dictionary, we need to use the *OrderedDict* from 
the **collections** module
'''
from collections import OrderedDict

ord_dict = OrderedDict([('Name', ['Roseline', 'william']),('Occupation', ['Chemist', 'data Analyst']), ('Age', [37, 47])])
ord_dict

In [ ]:
type(ord_dict)

In [ ]:
ord_df = pd.DataFrame(ord_dict)
ord_df

In [ ]:
# Create data frame with row index label
dict1 = {'Occupation': ['Chemist', 'data Analyst'], 'Age': [37, 47], 'Edu': ['PhD', 'BE']}
dict1_df = pd.DataFrame(dict1, index = ['Robin', 'Wiiliam'], columns = ['Occupation', 'Age', 'Edu'])
dict1_df

In [ ]:
##Some attributes of Series
# index, values
print(dict1_df.index)
print(dict1_df.values)

In [ ]:
# Series methods is keys which is an alias for the index attributes
print(dict1_df.keys())

In [ ]:
df1

In [ ]:
# what is shape of this DataFrame
df1.shape   # it has two rows and 2 columns

In [ ]:
# name of the columns
df1.columns

In [ ]:
# retrieve the index of the DataFrame
df1.index

In [ ]:
# Create a DataFrame with two series objects and a dictionary
s1 = pd.Series(np.arange(1,6,1))
s2 = pd.Series(np.arange(6,11,1))
df = pd.DataFrame({'a':s1, 'b':s2})
df

In [ ]:
# DataFrame performs automatic alignment of the data for each Series
s3 = pd.Series(np.arange(12,14), index = [2,3])
df = pd.DataFrame({'a':s1, 'b':s2, 'c':s3})
df

In [ ]:
# selcting columns by column names
df[['a', 'b']]

In [ ]:
# just one column
df[['a']]

In [ ]:
# its is DataFrame, not a series
type(df[['a']])

In [ ]:
# Create a new data frame with integers as the column names
df1 = df.copy()
df1.columns = [0,1,2]
df1

In [ ]:
df1.columns

In [ ]:
# attributes access of the column by name
df.a

In [ ]:
# get the location of the column with the value of a
loc = df.columns.get_loc('a')
loc

In [ ]:
# Column Addition
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df
# Adding a new column to an existing DataFrame object with column label by passing new series

data = [10,20,30]
print ("Adding a new column by passing as Series:")
df['three']=pd.Series(data,index=['a','b','c'])
print(df)

In [ ]:
# Column Deletion
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)

print('Original data Frame')
print('\n')
print(df)
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

#### Indexing and Selecting data

The Python and NumPy indexing operators "[ ]" and attribute operator "." provide quick and easy access to Pandas data structures across a wide range of use cases. However, since the type of the data to be accessed isn’t known in advance, directly using standard operators has some optimization limits.

| Indexing |   Description   |
|:---|:---|
|   .loc() | Label Based    |
|   .iloc() | Integer Based    |

#### .loc()
Pandas provide various methods to have purely label based indexing. When slicing, the start bound is also included. Integers are valid labels, but they refer to the label and not the position.

.loc() has multiple access methods like −

A single scalar label
A list of labels
A slice object
A Boolean array
loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

In [40]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print('Given DataFrame')
print(df)
print('\n')
print('select all rows for a specific column, e.g. column A')
print(df.loc[:,'A'])

Given DataFrame
          A         B         C         D
a  0.128600 -0.297208  0.318032 -0.642987
b -0.323376 -1.216343  0.761163 -2.121079
c -0.067477 -0.454824  0.594597  2.461072
d -0.366417 -0.832765  1.353210  0.423727
e -0.946492  0.527469 -0.678439 -1.517093
f  1.465094 -0.950003 -0.726483  0.949261
g -2.166426 -0.340402 -0.441210  1.863917
h -0.027525 -0.034871  0.729898 -0.635639


select all rows for a specific column, e.g. column A
a    0.128600
b   -0.323376
c   -0.067477
d   -0.366417
e   -0.946492
f    1.465094
g   -2.166426
h   -0.027525
Name: A, dtype: float64

In [ ]:
print('Select all rows for multiple columns, say list')
print(df.loc[:,['A','C']])

In [ ]:
print('Select few rows for multiple columns, say list[]')
print(df.loc[['a','b','f','h'],['A','C']])

In [ ]:
# Select range of rows for all columns
print(df.loc['a':'h'])

In [ ]:
# for getting values with a boolean array
print(df.loc['a']>0 )

#### .iloc()
Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows −

- An Integer
- A list of integers
- A range of values

In [ ]:
# select all columns for a specific rows
print(df.iloc[:4])

In [41]:
# Integer slicing
print(df.iloc[1:5, 2:4])

          C         D
b  0.761163 -2.121079
c  0.594597  2.461072
d  1.353210  0.423727
e -0.678439 -1.517093

In [ ]:
# Slicing through list of values
print(df.iloc[[1, 3, 5], [1, 3]])
print('\n')
print(df.iloc[1:3, :])
print('\n')
print(df.iloc[:,1:3])

#### Row Selection, Addition, and Deletion

In [ ]:
# Slice rows

print(df[2:4])

In [ ]:
# Addition of rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])

print(df)
print('\n')
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print(df2)
print('\n')
df = df.append(df2)
print (df)

In [ ]:
# Deletion of rows
#Use index label to delete or drop rows from a DataFrame. 
#If label is duplicated, 
#then multiple rows will be dropped.

#If you observe, in the above example, 
#the labels are duplicate. Let us drop a label and 
#will see how many rows will get dropped.


df = df.drop(0)

print (df)

#### Basic Operations

In [ ]:
#Create a series with 10 random numbers
s = pd.Series(np.random.randn(10))
print(s)

In [ ]:
# Axes: Returns the list of the labels of the series.
print ("The axes are:")
print(s.axes)

In [ ]:
# empty: Returns the Boolean value saying whether the Object is empty or not. 
# True indicates that the object is empty.
print ("Is the Object empty?")
print(s.empty)

In [ ]:
# Values: Returns the actul data in the series as an array

print ("The actual data series is:")
print(s.values)

#### Head and Tail 
To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.

head() returns the first n rows(observe the index values). 
The default number of elements to display is **five**, 
but you may pass a custom number.

tail() returns the last n rows(observe the index values). 
The default number of elements to display is **five**, but you may pass a custom number.

In [ ]:
# head

print(s.head())
print('\n')
print ("The first four rows of the data series:")
print(s.head(4))
print('\n')

In [ ]:
# tail

print(s.tail())
print('\n')
print ("The last four rows of the data series:")
print(s.tail(4))

In [ ]:
# DataFrame 
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print(df)

#### T (Transpose)

In [ ]:
print ("The transpose of the data series is:")
print(df.T)

In [ ]:
# dtypes
#Returns the data type of each column.
print(df.dtypes)

In [ ]:
# shape: Returns a tuple representing the dimensionality of the 
#DataFrame. Tuple (a,b), where a represents the number of rows and b represents the number of 
#columns.

print ("The shape of the object is:")
print(df.shape)

In [ ]:
# size: Number of elements in the DataFrame
print ("The total number of elements in the object is:")
print(df.size)

In [ ]:
# values: Returns the actual data in the DataFrame
print ("The actual data in our data frame is:")
print(df.values)

In [ ]:
# head and tail
print ("The first four rows of the data frame is:")
print (df.head(4))
print('\n')

print ("The last four rows of the data frame is:")
print (df.tail(4))

#### Descriptive Statistics

In [ ]:
# sum() Returns the sum of the values for the requested axis. By default, axis is index (axis=0).

print(df.sum())

# Each individual column is added individually 
# (Strings are appended).

In [ ]:
# axis = 1
print(df.sum(axis = 1))

In [ ]:
# mean, std and variance

print("mean:")
print(df.mean())
print('\n')
print("standard deviation:")
print(df.std())
print('\n')
print("variance:")
print(df.var())

#### Summarizing Data

**describe:** The describe() function computes a summary of 
statistics pertaining to the DataFrame columns.

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.describe(include = ['object'])

In [ ]:
df.describe(include = 'all')

#### Row and Column wise function 

Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. By default, the operation performs column wise, taking each column as an array-like.

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),columns=['x1','x2','x3'])
df.apply(np.mean)
print (df.apply(np.mean))

In [ ]:
# By passing axis paramter, operations can be performed row wise
print(df.apply(np.mean,axis=1))

In [ ]:
print(df.apply(lambda x: x.max() - x.min()))

#### Iteration

The behavior of basic iteration over Pandas objects depends on the type. When iterating over a Series, it is regarded as array-like, and basic iteration produces the values. Other data structures, like DataFrame and Panel, follow the dict-like convention of iterating over the keys of the objects.

In short, basic iteration (for i in object) produces −

Series − values

DataFrame − column labels

Panel − item labels

In [ ]:
# Iterating a DataFrame
# Iterating a DataFrame gives column names.

for col in df:
    print(col)

To iterate over the rows of the DataFrame, we can use the following functions −
for key,value in df.iteritems():
   print key,value
iteritems() − to iterate over the (key,value) pairs

iterrows() − iterate over the rows as (index,series) pairs

itertuples() − iterate over the rows as namedtuples

In [ ]:
for key,value in df.iteritems():
   print (key,value)

In [ ]:
# iterrows()
#iterrows() returns the iterator yielding each index value 
#along with a series containing the data in each row.

for row_index,row in df.iterrows():
   print(row_index,row)

#### itertuples()
**itertuples()** method will return an iterator yielding a 
named tuple for each row in the DataFrame. 
The first element of the tuple will be the row’s corresponding 
index value, while the remaining values are the row values.

In [ ]:
for row in df.itertuples():
    print(row)

#### Sorting
There are two kinds of sorting available in Pandas. They are −

- By label
- By Actual Value

In [ ]:
df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['x1','x2'])
print(df)


# NOTE: In unsorted_df, the labels and the values are unsorted. 
# Let us see how these can be sorted.

#### By Label
Using the sort_index() method, by passing the axis arguments 
and the order of sorting, DataFrame can be sorted. By default, 
sorting is done on row labels in ascending order.

In [ ]:
sorted_df = df.sort_index()
print(sorted_df)

#### Order of sorting
By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. Let us consider the following example to understand the same.

In [ ]:
sorted_df = df.sort_index(ascending = False)
print(sorted_df)

#### Sort the Columns
By passing the axis argument with a value 0 or 1, the sorting can be done on the column labels. By default, axis=0, sort by row.

In [ ]:
sorted_df=df.sort_index(axis=1)

print(sorted_df)

#### By Value
Like index sorting, sort_values() is the method for sorting by values. It accepts a 'by' argument which will use the column name of the DataFrame with which the values are to be sorted.

In [ ]:
sorted_df = df.sort_values(by='x1')
print(sorted_df)

# NOTE: Observe, col1 values are sorted and the respective 
#x2 value and row index 
# will alter along with x1. Thus, they look unsorted.

#### Attribute Access
Columns can be selected using the attribute operator '.'.

In [ ]:
print(df)
print(df.x2)

#### Cleaning and Preparation
Below are the steps involved to understand, clean and prepare the data for data analysis or building the predictive model:

1. Variable Identification
2. Univariate Analysis
3. Bi-variate Analysis
4. Missing values treatment
5. Outlier treatment
6. Variable transformation
7. Variable creation

#### Statistical Functions
Statistical methods help in the understanding and analyzing the behavior of data. we will learn few of them.

#### Percent_change
Series, DatFrames and Panel, all have the function pct_change(). This function compares every element with its prior element and computes the change percentage.

In [ ]:
x = pd.Series([1,2,3,4,5,4])

print('Given Series:\n', x)
print ('percentage change:\n', x.pct_change())
print('\n')

df = pd.DataFrame(np.random.randn(5, 2))
print('data:\n ',df)
print('\n')
print(df.pct_change())

# NOTE: By default, the pct_change() operates on columns; if 
# you want to apply the same row wise, then use axis=1() argument.

In [ ]:
# Covariance
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print (s1.cov(s2))
print('\n')
#Covariance method when applied on a DataFrame, 
#computes cov between all the columns.

df = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (df['a'].cov(df['b']))
print('\n')
print(df.cov())

#### Correlation
Correlation shows the linear relationship between any two array of values (series). There are multiple methods to compute the correlation like pearson(default), spearman and kendall.

In [ ]:
df = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'])

print(df['a'].corr(df['b']))

print (df.corr())

#### Missing Data
Missing data is a problem in real life scenarios. Areas like machine learning and data mining face severe issues in the accuracy of their model predictions because of poor quality of data caused by missing values. In these areas, missing value treatment is a major point of focus to make their models more accurate and valid.

#### Handling Missing Values

- Ignore the Missing Value During Analysis:  This is usually done when class label is missing ( assuming the mining task involves classification). This method is not very effective, unless the record contains several attributes with missing values. It is especially poor when the percentage of missing values per attribute varies considerably.


- Fill in the missing value manually: In general, this approach is time consuming and may not be feasible given a large data set with many missing values


- Use a global constant/mean or median to fill in the missing value: Replace all missing feature values by the same constant/mean or median of the attribute


- Use the most probable value to fill in the missing value: This may be determined with regression, inference-based tools using a Bayesian formalism, or decision tree induction. 


**Note** it is as important to avoid adding bias and distortion
to the data as it is to make the information available.
	
	• bias is added when a wrong value is filled-in

No matter what techniques you use to conquer the problem, it
comes at a price. The more guessing you have to do, the further
away from the real data the database becomes. Thus, in turn, it
can affect the accuracy and validation of the mining results. 


Here we will see how we can handle missing values using Pandas

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)

#### Check for missing values

Pandas provides the **isnull** and **notnull()** functions.

In [ ]:
print(df.isnull())  # notnull()

In [ ]:
# we can do one column also

print(df['one'].isnull())

In [ ]:
# Calculate the total number of missing values in each column

print(df.isnull().sum())
print('\n')

# Calculate the total number of missing values in each row
print(df.isnull().sum(axis = 1))

#### Calculations with Missing Data

- When summing data, NA will be treated as Zero
- If the data are all NA, then the result will be NA

In [ ]:
# one column
print(df['one'].sum())
print('\n')

# DataFrame
print(df.sum())

#### Drop Missing Values
If you want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

In [ ]:
print(df.dropna())

In [ ]:
print(df.dropna(axis = 1))

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

In [ ]:
cleaned = data.dropna()
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = np.nan
data

Passing how='all' will only drop rows that are all NA:

In [ ]:
data.dropna(axis=1, how='all')  # axis = 1 drop columns

Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [ ]:

data.dropna(thresh=2)

#### Filling Missing data
Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. 

Pandas provides **fillna** function to fill in NA values with non-null data in various ways.

In [ ]:
# Replace NaN with a scalar Value

print ("NaN replaced with '0':")
print(data.fillna(0))

#### Fill NA Foward and Backward

| Method |   ACtion   |
|:---|:---|
|   pad/fill | Fill methods forward   |
|   bfill/backfill | Fill methods Backward    |

In [ ]:
print(df.fillna(method='pad'))

In [ ]:
print(df.fillna(method='backfill'))

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))

In [ ]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

In [ ]:
df.fillna(0)

Calling *fillna* with a dict, you can use a different fill value for each column

In [ ]:

df.fillna({1: 0.5, 2: 0})

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

With *fillna* you can do lots of other things with a little creativity. For example, you might pass the mean or median value of a Series:

In [ ]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])

In [ ]:
data.fillna(data.mean())

#### Data Transformation

#### Removing Duplicates

In [6]:
x= pd.DataFrame([1,2,3,4,1,5,1,3])
x.drop_duplicates()

   0
0  1
1  2
2  3
3  4
5  5

In [11]:
pd.unique(x[0])

array([1, 2, 3, 4, 5])

In [15]:
x[0].nunique()

5

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})

In [ ]:
data

The DataFrame method *duplicated* returns a boolean Series indicating whether each row is a duplicate

In [ ]:
data.duplicated()

Relatedly, *drop_duplicates* returns a DataFrame where the duplicated array is False:

In [ ]:
data.drop_duplicates()

Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:

In [ ]:
data['v1'] = range(7)

In [ ]:
data.drop_duplicates(['k1'])

#### Replacing Values

*replace* provides a simpler and more flexible way to do replacement.

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

The -999 values might be sentinel values for missing data. To replace these with NA values that pandas understands, we can use replace, producing a new Series (unless you pass inplace=True):

In [ ]:
data.replace(-999, np.nan)

If you want to replace multiple values at once, you instead pass a list and then the substitute value:

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
# To use a different replacement for each value, 
# pass a list of substitutes:

data.replace([-999, -1000], [np.nan, 0])

The argument passed can also be a dict:

In [ ]:
data.replace({-999: np.nan, -1000: 0})

#### Discretization and Binning
Continuous data is often discretized or otherwise separated into “bins” for analysis.

In [33]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To do so, you have to use cut, a function in pandas:

In [34]:
bins = [18, 25, 35, 60, 100]

In [35]:
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

The object pandas returns is a special Categorical object. The output you see describes the bins computed by pandas.cut. You can treat it like an array of strings indicating the bin name; internally it contains a categories array specifying the dis‐ tinct category names along with a labeling for the ages data in the codes attribute:

In [36]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [37]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:

In [38]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [39]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

You can also pass your own bin names by passing a list or array to the labels option:

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [ ]:
pd.cut(ages, bins, labels=group_names)

If you pass an integer number of bins to cut instead of explicit bin edges, it will com‐ pute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:

In [ ]:
data = np.random.rand(20)

In [ ]:
pd.cut(data, 4, precision=2)

#### Detecting and Filtering Outliers
- Outliers are data objects with characteristics that are considerably different than most of the other data objects in the data set


- Data points inconsistent with the majority of data


- Outlier detection can be used for fraud detection or data cleaning


Outliers can drastically change the results of the data analysis and statistical modeling. There are numerous unfavourable impacts of outliers in the data set:


- It increases the error variance and reduces the power of statistical tests


- If the outliers are non-randomly distributed, they can decrease normality


- They can bias or influence estimates that may be of substantive interest


- They can also impact the basic assumption of Regression, ANOVA and other statistical model assumptions.

#### How to detect outliers

Most commonly used method to detect outliers is visualization. 

We use various visualization methods, like Box-plot, Histogram, Scatter plot, clustering, curve fitting. 


Some analysts also various thumb rules to detect outliers. Some of them are:

- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR


- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier

- Data points, three or more standard deviation away from mean are considered outlier


- Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding



#### How to remove them 
Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier observation and after that we can impute it with predicted values.

Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
data.describe()

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:

In [ ]:
col = data[2]
col

In [ ]:
col[np.abs(col)>3]

To select all rows having a value exceeding 3 or –3, you can use the any method on a boolean DataFrame:

In [ ]:
data[(np.abs(data) > 3).any(1)]

Values can be set based on these criteria. Here is code to cap values outside the inter‐ val –3 to 3

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [ ]:
data.describe()

#### Computing Indicator/Dummy Variables
Another type of transformation for statistical modeling or machine learning applica‐ tions is converting a categorical variable into a “dummy” or “indicator” matrix. If a column in a DataFrame has k distinct values, you would derive a matrix or Data‐ Frame with k columns containing all 1s and 0s. pandas has a get_dummies function for doing this, though devising one yourself is not difficult. 

When you’re using statistics or machine learning tools, you’ll often transform catego‐ rical data into dummy variables, also known as one-hot encoding. This involves creat‐ ing a DataFrame with a column for each distinct category; these columns contain 1s for occurrences of a given category and 0 otherwise.

Let’s return to an earlier example DataFrame:

In [26]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1': range(6)})

In [27]:
df.dtypes

key      object
data1     int64
dtype: object

In [28]:
df.head()

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4

In [29]:
pd.get_dummies(df)

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [30]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [31]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [32]:
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [ ]:
df_with_dummy = df[['data1']].join(dummies)

In [ ]:
df_with_dummy1 = df.join(dummies)

In [ ]:
df_with_dummy1

A useful recipe for statistical applications is to combine get_dummies with a discreti‐ zation function like cut:

In [ ]:
np.random.seed(12345)

In [ ]:
values = np.random.rand(10)
values

In [ ]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [ ]:
pd.get_dummies(pd.cut(values, bins))

#### String Manipulation
Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. 


For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.

In [ ]:
val = 'a,b,  guido'
val

In [ ]:
val1 = val.split(',')
val1

In [ ]:
type(val1)

split is often combined with strip to trim whitespace (including line breaks):

In [ ]:
str_pieces = [x.strip() for x in val.split(',')]

In [ ]:
str_pieces

These substrings could be concatenated together with a two-colon delimiter using addition:

In [ ]:
first, second, third = str_pieces

In [ ]:
first + '::' + second + '::' + third

But this isn’t a practical generic method. A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':

Other methods are concerned with locating substrings. Using Python’s in keyword is the best way to detect a substring, though index and find can also be used:

In [ ]:
'::'.join(str_pieces)

In [ ]:
'guido' in val

In [ ]:
val.index(',')

replace will substitute occurrences of one pattern for another. It is commonly used to delete patterns, too, by passing an empty string:

In [ ]:
val.replace(',', '::')

In [ ]:
val.replace(',', '')

| Argument |   Description|
|:---|:---|
|   count | Return the number of non-overlapping occurrences of substring in the string. |
|   endswith |  ReturnsTrueif string ends with suffix. |
|   startswith |  ReturnsTrueif string starts with prefix. |
|   join |  Use string as delimiter for concatenating a sequence of other strings. |
|   index | Return position of first character in substring if found in the string; raises ValueError if not found. |
|   find |  Return position of first character of first occurrence of substring in the string; like index, but returns –1
if not found. |
|   replace|  Replace occurrences of string with another string. |
|  strip|  Trim whitespace, including newlines; equivalent to x.strip() (and rstrip, lstrip, respectively) for each element.|
|   upper|  Convert alphabet characters to uppercase.|
|  lower|  Convert alphabet characters to lowercase.|

# Combining and Reshaping

Once the data is tidied up,it will likely that we will then need to use this data either to combine multiple sets of data, or to reorganize the data. 

Here we will discuss combination and reshaping of data. Combination of data in pandas is performed by concatenating two sets of data, where data is combined simply along either axes but without regard to the relationships in the data. Or data can be combined using relationships in the data by using a pandas capability referred to as merging, which provides join operations that are similar to those in may relational databases. 

We will discuss various reshaping techniques like pivoting, stacking, and unstacking, and melting of data. 

Pivoting allows to restructure data similarly to how spreadsheets pivot data by creating new index levels and moving data into columns based upon values (or vice-versa). 

Stacking and unstacking are similar to pivoting, but allow us to pivot data organized with multiple levels of indexes.

Finally, melting allows to restructure data into unique ID-variable-measurement combinations that are or required for many statistical analyses. Following concepts of combining and reshaping are available and will be discussed.

- Concatenation
- Merging and joining
- Pivots
- Stacking/unstacking
- Melting

#### Concatenating

Concatenating is the process of either adding rows to the end of an Series or DataFrame. The operation is performed via the function *concat*. Again the function will perform the operation on a specific axis. The general syntax is to pass a list of objects to *concat()* function.

In [ ]:
s1 = pd.Series(np.arange(1,5))
s1

In [ ]:
s2 = pd.Series(np.arange(5,9))
s2

In [ ]:
pd.concat([s1,s2])

In [ ]:
Two DataFrame objects can also be cocatenated

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns = ['x','y','z'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(9,18).reshape(3,3), columns = ['x','y','z'])
df2

In [ ]:
pd.concat([df1,df2])

The process of concatenating the two Dataframe objects will first identify the set of columns formed by aligning the labels in the columns, effectively determining the union of the column names. The resulting DataFrame object will then consists of columns, and columns with identical names will not be duplicated 

Rows will be then be added to the result, in the order of the each of the objects passed to function *concat()*. If a column in the result does not exist in the object being copied, NaN values will be filled in those locations. Duplicate row index labels can occur.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns = ['a','b','c'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(9,18).reshape(3,3), columns = ['a','c','d'])
df2

In [ ]:
# concat the two objects, but create an index using the given keys

df3 = pd.concat([df1,df2])
df3

*concat()* function allows to specify the axis on which to apply the concatenation.

In [ ]:
pd.concat([df1,df2], axis =1)  # column wise

Note the resultant dataframe contains duplicate columns. The concatenation first aligns by the row index labels of each DataFrame and then fills in the columns from the first DataFrame and then then the second. The columns are not aligned and result in duplicate values

The same rules of alignment and filling on NaN values apply in thsi case except that they are applied to the rows index labels. The following example demonstrates a concatenation along the columns axis with two DataFrames that have row index labebsl in common (2 and 3) along with disjoint rows(0 in df1 and 4 in df3). Additionally, some of the columns in df3 overlap with df1(a) as well as being disjoint(d)

In [ ]:
df3 = pd.DataFrame(np.arange(20,26).reshape(3,2), columns = ['a','d'], index = [2,3,4])
df3

In [ ]:
pd.concat([df1,df3], axis =1)

A concatenation of two or more DataFrame actually performs an outer join along the index labels on the axis opposite to the one specified. This makes the result of the concatenation similar to having performed a union of those index labels, and then data is filled based on the alignment of those labels to the source objects. 


The type of join can be changed to an inner join and can be performed by specifying *join= 'inner'* as the parameter. The inner join then logically performs the interaction instead of a union.

In [ ]:
pd.concat([df1,df3], axis = 1, join = 'inner') # only 2 is the common row.

It is also possible to use label groups of data along the columns using the *keys* parameter when applying the concatenation along axis = 1

In [ ]:
df=pd.concat([df1,df2], axis = 1, keys = ['df1', 'df2'])

In [ ]:
# Different groups can be accessed using the *.ix* process

In [ ]:
df.ix[:,'df2']

*append()* method concatenate the two specified DataFrame long the row index labels

In [ ]:
df1.append(df2)

As with a concatenation on axis =1, the index labels in the rows are copied without consideration of the creation of duplicates, and the column labels are joined in a manner which ensures no duplicate column name in included in the result. 

If you would like to ensure that the resulting index does not have duplicates but preserves all of the rows, you can use the *ignore_index = True* parameter. This returns the same result except with new *Int64Index*

In [ ]:
df1.append(df2,ignore_index = True)

#### Merging and joining data

pandas provides functionality of merging the panadas objects with databas like join operations using the *merge()* function and *merge* metod of a Dataframe objects.

A merge combines the data of two pandas objects by finding matching values in one or more columns or row indexes. It then returns a new object that represents a combination of the data from both based on relational-databases-like join applied to those values

#### Merging/Joining
Pandas has full-featured, high performance joining operations similar to SQL.

Pandas provides a single function, *merge*, as the entry point for all standard database join operations between DataFrame objects

In [ ]:
df1 = pd.DataFrame({ 'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
df2 = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(df1)
print('\n')

print(df2)

In [ ]:
# Merge Two DataFrames on a key
print(pd.merge(df1,df2,on = 'id'))

In [ ]:
# Merge Two DataFrames on Multiple Keys
print(pd.merge(df1,df2,on=['id','subject_id']))

In [ ]:
customers = pd.DataFrame({'CustomerID': [10,11], 'Name':['John', 'Jenny'],'Address':["address of john", 'address of jenny']})
customers

In [ ]:
from datetime import datetime
orders = pd.DataFrame({'CustomerID': [10,11,10], 'Amount': [1000, 2000,5000]})
orders

In [ ]:
# Now we would like to know the amount of the order 
# each customer spent on each order  

customers.merge(orders)

what pandas has done is the following:

1. Determines the columns in both customers and orders with common labels. These columns are treated as the keys to perform the join

2. It creates a new DataFrame whose columns are the labels from the keys identified from the keys identified in step 1. followed by all of the non-key labels from both objects

3. It matches values in the key columns of both DataFrame objects

4. It then creates a row in the result for each set of matching labels

5. It then copies the data from those matching rows from each source object into that respective row and columns of the result

6. it assigns a new Int64Index to the result


The join in a merge can use values from multiple columns.

In [ ]:
left_data = {'key1':['a','b','c'], 'key2':['x','y','z'], 'lval1':['5','6','7']}
left = pd.DataFrame(left_data,index = [0,1,2])

left

In [ ]:
right_data = {'key1':['a','b','c'], 'key2':['x','a','z'], 'lval1':['1','2','3']}

right = pd.DataFrame(right_data, index = [1,2,3])
right

In [ ]:
left.merge(right, on = 'key1')

In [ ]:
left.merge(right, on=['key1', 'key2'])

The columns specified with on need to exist in both DataFrames. If you would like to merge based on columns with different names in each object, you can use the left_on and right_on parameters, passing the name or names of columns to each respective parameter.

In [ ]:
pd.merge(left,right,left_index = True, right_index = True)

#### Specifying the join semantics of a merge operation

The default type of join performed by the pd.merge is an inner join. The use of another join method, the method of join to be used can be specified using the how parameter of the *merge()* function. The valid options are:

- inner: This is the intersection of keys from both DataFrames

- outer: This is the union of keys from both DataFrames

- left: This only uses keys from the left DataFrame

- right: This only uses keys from the right DataFrame

#### Merge Using 'how' Argument
The **how** argument to merge specifies how to determine which keys are to be included in the resulting table. If a key combination does not appear in either the left or the right tables, the values in the joined table will be NA.


| Merge Method |   SQL Equivalent   | Description|
|:---|:---|:---|
|   left | Left Outer Join   | Use keys from left object |
|   right | Right Outer Join   | Use keys from right object |
|   outer | Full Outer Join   | Use union of keys |
|   inner | Inner Join   | Use intersection of keys |

In [ ]:
# left Join

print(pd.merge(df1, df2, on='subject_id', how='left'))

In [ ]:
# Right Join
print(pd.merge(df1, df2, on='subject_id', how='right'))

In [ ]:
# outer Join
print(pd.merge(df1, df2, on='subject_id', how='outer'))

In [ ]:
# Inner Join
print(pd.merge(df1, df2, on='subject_id', how='inner'))

In [ ]:
left.merge(right, how = 'outer')

In [ ]:
left.join(right, lsuffix = '_left', rsuffix = '_right')

#### GroupBy

Categorizing a dataset and applying a function to each group, whether an aggregation or transformation, is often a critical component of a data analysis workflow. After loading, merging, and preparing a dataset, you may need to compute group statistics or possibly pivot tables for reporting or visualization purposes. pandas provides a flexible groupby interface, enabling you to slice, dice, and summarize datasets in a natural way.

Group operations are described by *split-apply-combine* according to Hadley Wickham, an author of many popular packages for the R programming language

Many complex group operations can be performed in pandas. 

Any **groupby** operation involves one of the following operations on the original object. They are −

- **Split** a pandas object into pieces using one or more keys (in the form of functions, arrays, or DataFrame column names)

- Calculate group summary statistics, like count, mean, or standard deviation, or a user-defined function

- Apply within-group transformations or other manipulations, like normalization, linear regression, rank, or subset selection


- Compute pivot tables and cross-tabulations

The following diagram demonstrates split-apply-combine process to sum group of numbers:

In [ ]:
from IPython.display import Image
Image(filename='split-apply-combine.png')

The process is similar to the concepts in MapReduce. As in MapReduce job is divided into pieces and distributed to many computers. Each computer then performs analysis on the set of data and calculates a result. The results are then collected and used to make decision.

But in pandas, this operation differs in the scope of the data and processing. In pandas, all of the data is in memory of a single system. Because of this, it is limited to that single system's processing capabilities, but tis also makes the data analysis for that scale of data faster and more interactive in nature.

#### GroupBy Mechanics

Split Data into Groups
Pandas object can be split into any of their objects. There are multiple ways to split an object like −

- obj.groupby('key')
- obj.groupby(['key1','key2'])
- obj.groupby(key,axis=1)

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(data)

print (df)

In [ ]:
grouped = df.groupby('Team')
grouped

The result of calling *groupby()* on a DataFrame is not the actual grouped data, but a DataFrameGroupByobject. The grouping has not actually been performed. This object represents an interim description of the grouping to be performed.

In [ ]:
# Get the number of Groups .ngroups
grouped.ngroups

The .groups property will return a Python dictionary whose keys represent the names of each group. The values in the dictionary are an array of the index labels contained within each respective group

In [ ]:
grouped.groups

#### Accessing the results of grouping
#### Iterating Over Groups
The GroupBy object supports iteration, generating a sequence of 2-tuples containing the group name along with the chunk of data.

In [ ]:
# A helper function to print the content of the groups

def print_groups (groupobject):
    for name, group in groupobject:
        print(name)
        print(group)

In the case of multiple keys, the first element in the tuple will be a tuple of key values:

In [ ]:
for (k1, k2), group in df.groupby(['Team', 'Rank']):
    print((k1, k2))
    print(group)

In [ ]:
pieces = dict(list(df.groupby('Team')))
pieces['']

In [ ]:
print_groups(grouped)

In [ ]:
# Group by multiple columns

print (df.groupby(['Team','Year']).groups)

In [ ]:
# how many items in each group
grouped.size()

In [ ]:
# count of items in each column of each group
grouped.count()

In [ ]:
# Retrieve a specific group
grouped.get_group('Devils')

In [ ]:
# The head() and tail() methods can be used to return the specified number of items in 
# each group.

grouped.head(3)

In [ ]:
# nth() method will return teh n-th item in each group. 
# First item
grouped.nth(0)

In [ ]:
# Second item 
grouped.nth(1)

In [ ]:
grouped.nth(2)

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

Suppose you wanted to compute the mean of the data1 column using the labels from key1. There are a number of ways to do this

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()

If instead we had passed multiple arrays as a list, we’d get something different:

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

In [ ]:
means.unstack()

In [ ]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

In [ ]:
df.groupby('key1').mean()
df.groupby(['key1', 'key2']).mean()

Regardless of the objective in using groupby, a generally useful GroupBy method is size, which returns a Series containing group sizes:

In [ ]:
df.groupby(['key1', 'key2']).size()

By default groupby groups on axis=0, but you can group on any of the other axes. For example, we could group the columns of our example df here by dtype like so

In [ ]:
df.dtypes

In [ ]:

grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns

Indexing a GroupBy object created from a DataFrame with a column name or array of column names has the effect of column subsetting for aggregation. This means that:

In [ ]:
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

re syntactic sugar for:

df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

Especially for large datasets, it may be desirable to aggregate only a few columns. For example, in the preceding dataset, to compute means for just the data2 column and get the result as a DataFrame

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean()

The object returned by this indexing operation is a grouped DataFrame if a list or array is passed or a grouped Series if only a single column name is passed as a scalar:

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

### Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

Now, suppose I have a group correspondence for the columns and want to sum together the columns by group:

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

Now, you could construct an array from this dict to pass to groupby, but instead we can just pass the dict (I included the key 'f' to highlight that unused grouping keys are OK):

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

### Grouping with Functions

Using Python functions is a more generic way of defining a group mapping compared with a dict or Series. Any function passed as a group key will be called once per index value, with the return values being used as the group namesSuppose you wanted to group by the length of the names; while you could compute an array of string lengths, it’s simpler to just pass the len function:

In [ ]:
people.groupby(len).sum()

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Grouping by Index Levels

A final convenience for hierarchically indexed datasets is the ability to aggregate using one of the levels of an axis index.

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

### Data Aggregation

Aggregations refer to any data transformation that produces scalar values from arrays. An aggregated function returns a single aggregated value for each group. Once the **group by**  object is created, several aggregation operations can be performed on the grouped data. 

The preceding examples have used several of them, including mean, count, min, and sum. You may wonder what is going on when you invoke mean() on a GroupBy object. Many common aggregations, such as those found in Table 10-1, have optimized implementations. However, you are not limited to only this set of methods.



| Function name |   Description|
|:---|:---|
|   count | Number of non-NA values in the group |
|   sum|  Sum of non-NA values |
|   mean |  Mean of non-NA values |
|   median |  Arithmetic median of non-NA values |
|   std, var | Unbiased (n – 1 denominator) standard deviation and variance |
|   min,max|  Minimum and maximum of non-NA values|

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(data)

print (df)

In [ ]:
print(df.groupby('Team'))

In [ ]:
## View Groups 
print(df.groupby('Team').groups)

In [ ]:
# Group by multiple columns

(df.groupby(['Team','Year']).groups)

In [ ]:
print(df.groupby('Team')['Points'].agg(np.mean))

In [ ]:
## Applying Mutliple Aggregation Functions at Once

print(df.groupby('Team')['Points'].agg([np.mean, np.sum, np.std]))

In [ ]:
# Transformations
score = lambda x: (x - x.mean()) / x.std()*10
print(df.groupby('Team').transform(score))

In [ ]:
# Filtration: Return the team which have particiapted three or more times
print(df.groupby('Team').filter(lambda x:len(x)>=3))

#### Apply: General split-apply-combine

In [ ]:
tips = pd.read_csv('/Users/home/Desktop/Univ/UCB/python_for_data_analysis-book-2nd-edition/examples/tips.csv')
tips.head()

In [ ]:
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips.head()

Returning to the tipping dataset from before, suppose you wanted to select the top five tip_pct values by group.

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips.groupby('smoker').apply(top)  # group sby smoker

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
result

In [ ]:
result.unstack('smoker')

#### Suppressing the Group Keys

You can disable this by passing group_keys=False to groupby:

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top)

#### Filtering groups


The pandas groupby provides a *filter()* method, which can be used to make group level decisions on whether or not the entire group is included in the result after combining. The function passed to *filter()* should return *True* if the group is to be included in teh result and *False* to exclude it.

In [ ]:
df = pd.DataFrame ({'Label': list("AABCCC"), 'Values': [1,2,3,4,np.nan,5]})
df

Here we are omitting which has minimum number of items. In the example we are omitting the items which have one or less items

In [ ]:
f = lambda x:x.Values.count() >1
df.groupby('Label').filter(f)

In [ ]:
# Teh following will omit groups that do not have all values supplied
f1 = lambda x:x.Values.isnull().sum()  == 0
df.groupby('Label').filter(f1)

In [ ]:
# Instead of dropping a group, the use of the dropna = False parameter allows the return
# of the offending groups, but with all their values replaced with NaN. This is useful
# if you want to determine which items have been omitted:

f = lambda x:x.Values.count() > 1
df.groupby('Label').filter(f, dropna = False)

#### Normalization and Standardization

https://towardsdatascience.com/data-normalization-with-pandas-and-scikit-learn-7c1cc6ed6475

In [18]:
df = pd.DataFrame([[100000, 5],[125000, 7],[175000, 10],[250000, 20]], columns = ['salary', 'experience'])

df

   salary  experience
0  100000           5
1  125000           7
2  175000          10
3  250000          20

In [19]:
def min_max_scaling(df):
    # copy the dataframe
    df_norm = df.copy()
    # apply min-max scaling
    for column in df_norm.columns:
        df_norm[column] = (df_norm[column] - df_norm[column].min()) / (df_norm[column].max() - df_norm[column].min())
        
    return df_norm
    
# call the min_max_scaling function
df_normalized = min_max_scaling(df)

df_normalized

     salary  experience
0  0.000000    0.000000
1  0.166667    0.133333
2  0.500000    0.333333
3  1.000000    1.000000

In [20]:
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()
# fit and transform the data
df_norm = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

df_norm

/Users/home/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

     salary  experience
0  0.000000    0.000000
1  0.166667    0.133333
2  0.500000    0.333333
3  1.000000    1.000000

In [21]:
# minimum values for normalizing the data
scaler.data_min_
# array([1.2e+05, 1.0e+01])

# maximum values for normalizing the data
scaler.data_max_
# array([4.0e+05, 1.7e+01])

array([2.5e+05, 2.0e+01])

In [22]:
# apply the z-score method in Pandas using the .mean() and .std() methods
def z_score(df):
    # copy the dataframe
    df_std = df.copy()
    # apply the z-score method
    for column in df_std.columns:
        df_std[column] = (df_std[column] - df_std[column].mean()) / df_std[column].std()
        
    return df_std
    
# call the z_score function
df_standardized = z_score(df)

df_standardized

     salary  experience
0 -0.944911   -0.826033
1 -0.566947   -0.525657
2  0.188982   -0.075094
3  1.322876    1.426785

In [23]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
std_scaler = StandardScaler()
std_scaler
# fit and transform the data
df_std = pd.DataFrame(std_scaler.fit_transform(df), columns=df.columns)

df_std

/Users/home/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/home/anaconda3/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

     salary  experience
0 -1.091089   -0.953821
1 -0.654654   -0.606977
2  0.218218   -0.086711
3  1.527525    1.647509

In [25]:
#standard deviation for standardizing the data
print(std_scaler.scale_)

# mean for standardizing the data
print(std_scaler.mean_)

[5.72821962e+04 5.76628130e+00]
[1.625e+05 1.050e+01]